@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f9fafb;
  overflow-y: auto;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: clamp(320px, 90vw, 960px);
  margin: 0 auto;

  padding: 1rem;
  font-weight: normal;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 600px) {
  .chart-container {
    height: 240px;
  }
  .title {
    font-size: 1.5rem;
  }

  .sensor-card {
    width: 100%;
    padding: 1rem;
  }

  #app {
    padding: 1rem;
  }
}
